.contaner {
  height: ;
}

.item {
  text-align: center;

  color: white;
  height: 630px;
}

.item-1 {
  background-color: red;
  width: 100%;
}

.item-2 {
  background-color: green;
  width: 100%;
}

.item-3 {
  background-color: orange;
  width: 100%;
}

.p {
  height: 100px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 150px;
  margin-left: 40px;
  margin-right: 40px;
}

.button {
  border: 1px solid white;
  color: white;
  padding: 5px 32px;
  border-radius: 15px;
  text-decoration: none;
}

@media (min-width: 576px) {
  .item {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .item-1 {
    width: 100%;
  }

  .item-2 {
    width: 100%;
  }

  .item-3 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .item {
    display: flex;
    flex-direction: row;
  }
}
